extends layout

block content
  h1= title
   form#login(name="login",method="post",action="/login")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputPassword(type="password", placeholder="password", name="password")
        input#submit(type='submit' value="Log In")